* {
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  position: relative;
  font-family: verdana, "sans-serif";
  background: #FFDE00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

#pokelogo {
  width: 40vw;
}

@media screen and (max-width: 1000px) {
  #pokelogo {
    width: 70vw;
  }
}

.conteiner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conteiner .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 6vh;
  border: 1px solid #3d7dca;
  width: 20vw;
}

@media screen and (max-width: 1400px) {
  .conteiner .search {
    width: 40vw;
  }
}

@media screen and (max-width: 1000px) {
  .conteiner .search {
    width: 60vw;
  }
}

@media screen and (max-width: 600px) {
  .conteiner .search {
    width: 80vw;
  }
}

.conteiner .search input {
  width: 70%;
  height: 100%;
  border-radius: 0;
  border: none;
  font-size: 30px;
}

.conteiner .search input:focus {
  outline: none;
}

.conteiner .search button {
  width: 30%;
  height: 100%;
  border: none;
  border-radius: 0;
  cursor: pointer;
  -webkit-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conteiner .search button:hover {
  background: #3d7dca;
}

.conteiner .search button:hover img {
  -webkit-animation: search 3s ease-in-out;
          animation: search 3s ease-in-out;
}

.conteiner .search button img {
  width: 30%;
  display: block;
}

.conteiner .content {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  padding: 0 5rem;
  width: 100vw;
}

@media screen and (max-width: 600px) {
  .conteiner .content {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 300px) {
  .conteiner .content {
    padding: 0 .5rem;
  }
}

.conteiner .content .card {
  text-align: center;
  width: 12%;
  height: 10%;
  border-radius: 8px;
  background: #FFF;
  position: relative;
  padding: 2rem;
  font-family: verdana, "sans-serif";
  -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.68);
          box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.68);
  -webkit-transition: -webkit-transform 1.5s .6s ease-in-out;
  transition: -webkit-transform 1.5s .6s ease-in-out;
  transition: transform 1.5s .6s ease-in-out;
  transition: transform 1.5s .6s ease-in-out, -webkit-transform 1.5s .6s ease-in-out;
}

@media screen and (max-width: 1400px) {
  .conteiner .content .card {
    width: 18%;
  }
}

@media screen and (max-width: 1000px) {
  .conteiner .content .card {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  .conteiner .content .card {
    width: 45%;
  }
}

@media screen and (max-width: 300px) {
  .conteiner .content .card {
    width: 80%;
  }
}

.conteiner .content .card a {
  text-decoration: none;
  color: black;
  -webkit-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.conteiner .content .card a:hover {
  color: #FF0000;
}

.conteiner .content .card a #pokeName {
  font-size: 1vw;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1400px) {
  .conteiner .content .card a #pokeName {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 1000px) {
  .conteiner .content .card a #pokeName {
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 600px) {
  .conteiner .content .card a #pokeName {
    font-size: 3.2vw;
  }
}

@media screen and (max-width: 300px) {
  .conteiner .content .card a #pokeName {
    font-size: 20px;
  }
}

.conteiner .content .card .imgHover {
  -webkit-transition: -webkit-transform 1.5s .3s ease-in-out;
  transition: -webkit-transform 1.5s .3s ease-in-out;
  transition: transform 1.5s .3s ease-in-out;
  transition: transform 1.5s .3s ease-in-out, -webkit-transform 1.5s .3s ease-in-out;
}

.conteiner .content .card .imgHover:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media screen and (max-width: 600px) {
  .conteiner .content .card .imgHover:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.conteiner .content .card:hover {
  position: relative;
  z-index: 1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media screen and (max-width: 600px) {
  .conteiner .content .card:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.conteiner .content .card img {
  width: 100%;
}

.conteiner .content .card .text {
  position: relative;
  width: 100%;
  height: 2vh;
}

.conteiner .content .card .text div {
  position: relative;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.conteiner .content .card .text div p {
  width: 50%;
  text-align: right;
  font-weight: bold;
  font-size: 1vw;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 1400px) {
  .conteiner .content .card .text div p {
    font-size: 1.3vw;
  }
}

@media screen and (max-width: 1000px) {
  .conteiner .content .card .text div p {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  .conteiner .content .card .text div p {
    font-size: 3vw;
  }
}

@media screen and (max-width: 300px) {
  .conteiner .content .card .text div p {
    font-size: 18px;
  }
}

.conteiner .content .card .text div #types {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.2rem;
}

.conteiner .content .card .text div #types img {
  width: 30%;
  margin: 0;
  border-radius: 100%;
}

@media screen and (max-width: 300px) {
  .conteiner .content .card .text div #types img {
    width: 30%;
    margin: 0;
  }
}

@-webkit-keyframes search {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes search {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes Pokeball {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes Pokeball {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@-webkit-keyframes pokemon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes pokemon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #FFF;
  border: 1px solid #FF0000;
  border-radius: 10px;
  width: 50vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error img {
  width: 20%;
}

.error h1 {
  font-size: 2vw;
  padding: auto 4rem;
  text-align: center;
}

.more {
  width: 15%;
  height: 5rem;
  border: none;
  cursor: pointer;
  background: #3d7dca;
  color: #FFF;
  border-radius: 8px;
  font-size: 1vw;
  font-weight: bold;
  margin: 3rem;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 1400px) {
  .more {
    width: 25%;
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .more {
    width: 40%;
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .more {
    width: 80%;
    font-size: 25px;
  }
}

#btnError {
  width: 25%;
  height: 5rem;
  border: none;
  background: #3d7dca;
  cursor: pointer;
  font-size: 1.5vw;
  font-weight: bold;
  color: #FFF;
}

#btnAbilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  gap: .5rem;
}

#btnAbilities button {
  height: 3rem;
  width: 20%;
  border: 2px solid #3d7dca;
  border-radius: 4px;
  font-size: 1vw;
  font-weight: bold;
  color: #3d7dca;
  background: transparent;
  -webkit-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
  background: #FFF;
}

@media screen and (max-width: 1400px) {
  #btnAbilities button {
    width: 25%;
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 600px) {
  #btnAbilities button {
    width: 25%;
    font-size: 4vw;
  }
}

#btnAbilities button:hover {
  background: #3d7dca;
  color: white;
}

#loading {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background: #3d7dca;
}

#loading .pokebola {
  width: 15%;
  margin-bottom: 0;
  -webkit-animation: Pokeball 10s infinite;
          animation: Pokeball 10s infinite;
}

@media screen and (max-width: 1000px) {
  #loading .pokebola {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  #loading .pokebola {
    width: 30%;
  }
}

@media screen and (max-width: 300px) {
  #loading .pokebola {
    width: 50%;
  }
}

#loading .pokemon {
  margin-bottom: 0;
  width: 15%;
  -webkit-animation: pokemon 3s infinite;
          animation: pokemon 3s infinite;
}

@media screen and (max-width: 1000px) {
  #loading .pokemon {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  #loading .pokemon {
    width: 30%;
  }
}

@media screen and (max-width: 300px) {
  #loading .pokemon {
    width: 50%;
  }
}

#loading #textLoad {
  margin-top: 1rem;
}

@media screen and (max-width: 300px) {
  #loading #textLoad {
    font-size: 30px;
  }
}

.invisibleLoading {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.visibleLoading {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.conteinerDetails {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) {
  .conteinerDetails {
    overflow-x: hidden;
  }
}

.cardDetails {
  position: relative;
  z-index: 1;
  background: #FFF;
  width: 30vw;
  top: 13%;
  padding: 3rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.68);
          box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.68);
  margin: 0;
}

@media screen and (max-width: 1400px) {
  .cardDetails {
    width: 40vw;
  }
}

@media screen and (max-width: 1000px) {
  .cardDetails {
    width: 60vw;
  }
}

@media screen and (max-width: 600px) {
  .cardDetails {
    width: 100%;
    height: 80%;
    left: 0;
    top: 2%;
    border-radius: 0;
  }
}

.cardDetails #titlePoke {
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.68);
          box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.68);
  margin-bottom: 1rem;
}

.cardDetails #titlePoke h1#pokeNameDetails {
  font-size: 30px;
  text-align: center;
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .cardDetails #titlePoke h1#pokeNameDetails {
    font-size: 4vw;
  }
}

@media screen and (max-width: 300px) {
  .cardDetails #titlePoke h1#pokeNameDetails {
    font-size: 5vw;
  }
}

.cardDetails .textDetails {
  margin: 0;
  width: 100%;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.cardDetails .textDetails .contType {
  width: 50%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardDetails .textDetails .contType div {
  margin-left: 0;
  padding: .5rem;
  border-radius: 8px;
  height: 45%;
  width: 70%;
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1400px) {
  .cardDetails .textDetails .contType div {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .cardDetails .textDetails .contType div {
    gap: .6rem;
  }
}

@media screen and (max-width: 600px) {
  .cardDetails .textDetails .contType div {
    width: 100%;
    height: 40%;
    gap: .4rem;
    margin: .3rem;
  }
}

@media screen and (max-width: 300px) {
  .cardDetails .textDetails .contType div {
    width: 100%;
    height: 30%;
    gap: .4rem;
  }
}

@media screen and (max-width: 1000px) {
  .cardDetails .textDetails .contType div:after {
    font-size: 2vw !important;
  }
}

@media screen and (max-width: 600px) {
  .cardDetails .textDetails .contType div:after {
    font-size: 3vw !important;
  }
}

@media screen and (max-width: 300px) {
  .cardDetails .textDetails .contType div:after {
    font-size: 4vw !important;
  }
}

.cardDetails .textDetails .contType div img {
  display: block;
  height: 90%;
  margin-left: 0;
}

@media screen and (max-width: gray) {
  .cardDetails .textDetails .contType div img {
    height: 70%;
  }
}

@media screen and (max-width: 600px) {
  .cardDetails .textDetails .contType div img {
    height: 80%;
  }
}

.cardDetails .textDetails .contType .grass {
  background-color: #40a749;
}

.cardDetails .textDetails .contType .grass::after {
  content: "GRASS";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails .contType .poison {
  background-color: #ff00ea;
}

.cardDetails .textDetails .contType .poison::after {
  content: "POISON";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails .contType .electric {
  background-color: goldenrod;
}

.cardDetails .textDetails .contType .electric::after {
  content: "ELETRIC";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails .contType .water {
  background-color: #4073a7;
}

.cardDetails .textDetails .contType .water::after {
  content: "WATER";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails .contType .fire {
  background-color: #df8600;
}

.cardDetails .textDetails .contType .fire::after {
  content: "FIRE";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails .contType .bug {
  background-color: #8ddd94;
}

.cardDetails .textDetails .contType .bug::after {
  content: "BUG";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails .contType .flying {
  background-color: #275296;
}

.cardDetails .textDetails .contType .flying::after {
  content: "FLYING";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails .contType .normal {
  background-color: gray;
}

.cardDetails .textDetails .contType .normal::after {
  content: "NORMAL";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails .contType .ground {
  background-color: #71522b;
}

.cardDetails .textDetails .contType .ground::after {
  content: "GROUND";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails .contType .fairy {
  background-color: pink;
}

.cardDetails .textDetails .contType .fairy::after {
  content: "FAIRY";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails .contType .dark {
  background-color: #0c0c0c;
}

.cardDetails .textDetails .contType .dark::after {
  content: "DARK";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails .contType .ghost {
  background-color: #190722;
}

.cardDetails .textDetails .contType .ghost::after {
  content: "GHOST";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails .contType .fighting {
  background-color: #d14141;
}

.cardDetails .textDetails .contType .fighting::after {
  content: "FIGHTING";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails .contType .psychic {
  background-color: #9f4d5b;
}

.cardDetails .textDetails .contType .psychic::after {
  content: "PSYCHIC";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails .contType .rock {
  background-color: #7a6910;
}

.cardDetails .textDetails .contType .rock::after {
  content: "ROCK";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails .contType .ice {
  background-color: lightblue;
}

.cardDetails .textDetails .contType .ice::after {
  content: "ICE";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails .contType .steel {
  background-color: LightGray;
}

.cardDetails .textDetails .contType .steel::after {
  content: "STEEL";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails .contType .dragon {
  background-color: #082ce1;
}

.cardDetails .textDetails .contType .dragon::after {
  content: "DRAGON";
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}

.cardDetails .textDetails #idDetails {
  height: 100%;
  padding: 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.68);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.68);
  border-radius: 10px;
  margin-right: 0;
}

@media screen and (max-width: 1400px) {
  .cardDetails .textDetails #idDetails {
    height: 70%;
    padding: 1.5rem;
  }
}

.cardDetails .textDetails #idDetails p {
  font-size: 1.5vw;
  font-weight: bold;
  display: block;
}

@media screen and (max-width: 1400px) {
  .cardDetails .textDetails #idDetails p {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 600px) {
  .cardDetails .textDetails #idDetails p {
    font-size: 20px;
  }
}

.cardDetails .textDetails img {
  margin: 0;
}

.cardDetails .imgHover {
  width: 90%;
  display: block;
  -webkit-transition: -webkit-transform 1.4s ease-in-out;
  transition: -webkit-transform 1.4s ease-in-out;
  transition: transform 1.4s ease-in-out;
  transition: transform 1.4s ease-in-out, -webkit-transform 1.4s ease-in-out;
}

@media screen and (max-width: 600px) {
  .cardDetails .imgHover {
    width: 100%;
  }
}

.cardDetails .imgHover:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.informations {
  height: 40%;
  width: 10%;
  background: #FFF;
  position: absolute;
  top: 13%;
  left: 35%;
  border-radius: 10px;
  z-index: 0;
  padding: 1rem;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1400px) {
  .informations {
    left: 35%;
  }
}

@media screen and (max-width: 600px) {
  .informations {
    z-index: 1;
    top: 83%;
    left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 2rem;
    height: auto;
  }
}

.informations div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .informations div {
    width: 30%;
  }
}

.informations div h2 {
  font-size: 15px;
}

.informations p {
  font-size: 12px;
  font-weight: bold;
}

#moreInformations {
  position: absolute;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  top: 13%;
  left: 32.9%;
  background: #FFF;
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  z-index: 0;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  #moreInformations {
    left: 22%;
  }
}

@media screen and (max-width: 600px) {
  #moreInformations {
    display: none;
  }
}

/*
.arrows {
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 3vw;
  height: 3vh;
  @include flex(row);
  gap: 0.5rem;



  .arrowright {
    width: 100%;

    transition: transform .8s .2s ease-in-out;

    &:hover {
      transform: translateX(.5rem)
    }
  }

  .arrowLeft {
    width: 100%;
    transition: transform .8s .2s ease-in-out;

    &:hover {
      transform: translateX(-.5rem)
    }
  }

}*/
.arrowLeft {
  height: 100vh;
  width: 10%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.arrowLeft:hover {
  background-color: goldenrod;
}

@media screen and (max-width: 600px) {
  .arrowLeft:hover {
    background-color: transparent;
  }
}

.arrowLeft:hover div {
  background-color: #FFDE00;
  left: -2rem;
}

@media screen and (max-width: 600px) {
  .arrowLeft:hover div {
    left: -.3rem;
  }
}

@media screen and (max-width: 600px) {
  .arrowLeft {
    z-index: 1;
    position: absolute;
  }
}

.arrowLeft .line1 {
  width: 10%;
  height: 10%;
  background-color: goldenrod;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  position: relative;
  top: 1rem;
  border-radius: 10px;
  margin-bottom: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .arrowLeft .line1 {
    top: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .arrowLeft .line1 {
    height: 5%;
    top: 0.3rem;
  }
}

.arrowLeft .line2 {
  margin-top: 0;
  width: 10%;
  height: 10%;
  background-color: goldenrod;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  position: relative;
  top: -1rem;
  border-radius: 10px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .arrowLeft .line2 {
    top: -0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .arrowLeft .line2 {
    top: -0.2rem;
    height: 5%;
  }
}

.arrowright {
  height: 100vh;
  width: 10%;
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.arrowright:hover {
  background-color: goldenrod;
}

@media screen and (max-width: 600px) {
  .arrowright:hover {
    background-color: transparent;
  }
}

.arrowright:hover div {
  background-color: #FFDE00;
  right: -2rem;
}

@media screen and (max-width: 600px) {
  .arrowright:hover div {
    right: -.3rem;
  }
}

@media screen and (max-width: 600px) {
  .arrowright {
    position: absolute;
    z-index: 1;
  }
}

.arrowright .line1 {
  width: 10%;
  height: 10%;
  background-color: goldenrod;
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
  position: relative;
  top: 1rem;
  border-radius: 10px;
  margin-bottom: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .arrowright .line1 {
    top: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .arrowright .line1 {
    top: 0.2rem;
    height: 5%;
  }
}

.arrowright .line2 {
  margin-top: 0;
  width: 10%;
  height: 10%;
  background-color: goldenrod;
  -webkit-transform: rotate(-160deg);
          transform: rotate(-160deg);
  position: relative;
  top: -1rem;
  border-radius: 10px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .arrowright .line2 {
    top: -0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .arrowright .line2 {
    top: -0.2rem;
    height: 5%;
  }
}

.transitionOut {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.transitionIn {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.transitionInRight {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.transitionOutRight {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
/*# sourceMappingURL=main.css.map */