* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  margin: 0;
}

body {
  position: relative;
  font-family: verdana, "sans-serif";
  background: $yellow;
  @include flex(column);
  overflow-x: hidden;

}