#pokelogo {
  width: 40vw;

  @media screen and (max-width:$normalRes) {
    width: 70vw;
  }
}

.conteiner {
  width: 100%;
  @include flex(column);


  .search {
    @include flex(row);
    height: 6vh;
    border: 1px solid $blue;
    width: 20vw;

    @media screen and (max-width:$big) {
      width: 40vw
    }

    @media screen and (max-width:$normalRes) {
      width: 60vw
    }


    @media screen and (max-width:$mobile) {
      width: 80vw
    }

    input {
      width: 70%;
      height: 100%;
      border-radius: 0;
      border: none;
      font-size: 30px;




      &:focus {
        outline: none;
      }
    }

    button {
      width: 30%;
      height: 100%;
      border: none;
      border-radius: 0;
      cursor: pointer;
      transition: background .5s ease-in-out;

      &:hover {
        background: $blue;
      }

      @include flex(row);

      &:hover img {
        animation: search 3s ease-in-out;
      }

      img {
        width: 30%;
        display: block
      }

    }

  }

  .content {
    margin-top: 3rem;
    @include flex(row);
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 5rem;
    width: 100vw;

    @media screen and (max-width:$mobile) {
      padding: 0 1rem;
    }

    @media screen and (max-width:$mobileSml) {
      padding: 0 .5rem;
    }



    .card {
      text-align: center;
      width: 12%;
      height: 10%;
      border-radius: 8px;
      background: $white;
      position: relative;
      padding: 2rem;
      font-family: verdana, "sans-serif";
      box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.68);
      transition: transform 1.5s .6s ease-in-out;

      @media screen and (max-width:$big) {
        width: 18%
      }

      @media screen and (max-width:$normalRes) {
        width: 30%
      }

      @media screen and (max-width:$mobile) {
        width: 45%
      }

      @media screen and (max-width:$mobileSml) {
        width: 80%
      }


      a {
        text-decoration: none;
        color: $black;
        transition: color .5s ease-in-out;


        &:hover {
          color: $red;
        }

        #pokeName {
          font-size: 1vw;
          margin-bottom: 1rem;

          @media screen and (max-width:$big) {
            font-size: 1.5vw;
          }

          @media screen and (max-width:$normalRes) {
            font-size: 1.7vw
          }


          @media screen and (max-width:$mobile) {
            font-size: 3.2vw
          }

          @media screen and (max-width:$mobileSml) {
            font-size: 20px;
          }

        }
      }

      .imgHover {
        transition: transform 1.5s .3s ease-in-out;

        &:hover {
          transform: scale(1.5);

          @media screen and (max-width:$mobile) {
            transform: scale(1.2);
          }
        }
      }


      &:hover {
        position: relative;
        z-index: 1;
        transform: scale(1.5);

        @media screen and (max-width:$mobile) {
          transform: scale(1.2);
        }
      }

      img {
        width: 100%
      }


      .text {
        position: relative;
        width: 100%;
        height: 2vh;

        div {
          position: relative;
          margin: 0;
          @include flex(row);
          gap: 1rem;
          width: 100%;
          height: 100%;

          p {
            width: 50%;
            text-align: right;
            font-weight: bold;
            font-size: 1vw;
            position: absolute;
            right: 0;

            @media screen and (max-width:$big) {
              font-size: 1.3vw
            }


            @media screen and (max-width:$normalRes) {
              font-size: 2vw
            }


            @media screen and (max-width:$mobile) {
              font-size: 3vw
            }

            @media screen and (max-width:$mobileSml) {
              font-size: 18px
            }

          }

          #types {
            position: absolute;
            left: 0;
            width: 50%;
            height: 100%;
            padding-left: 0;
            @include flex(row);
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.2rem;

            img {
              width: 30%;
              margin: 0;
              border-radius: 100%;



              @media screen and (max-width:$mobileSml) {
                width: 30%;
                margin: 0;
              }
            }
          }







        }
      }
    }

  }


}