#backForindex {
  position: absolute;
  padding: .5rem;
  z-index: 2;
  text-decoration: none;
  font-size: 15px;
  color: $white;
  border-radius: 3px;
  background-color: $blue;
  border: 1px solid $blue;
}

.conteinerDetails {
  width: 100%;
  height: 100vh;
  position: relative;
  @include flex(column);

  @media screen and (max-width:$mobile) {
    overflow-x: hidden;

  }
}

.cardDetails {
  position: relative;
  z-index: 1;
  background: $white;
  width: 30vw;
  top: 13%;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.68);
  margin: 0;


  @media screen and (max-width:$big) {
    width: 40vw;
  }

  @media screen and (max-width:$normalRes) {
    width: 60vw;
  }

  @media screen and (max-width:$mobile) {
    width: 100%;
    height: 78%;
    left: 0;
    top: 0%;
    border-radius: 0;
  }

  #titlePoke {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.68);
    margin-bottom: 1rem;

    h1#pokeNameDetails {
      font-size: 30px;
      text-align: center;
      width: 100%;
      padding: 2rem;

      border-radius: 8px;

      @media screen and (max-width:$mobile) {
        font-size: 4vw
      }

      @media screen and (max-width:$mobileSml) {
        font-size: 5vw
      }

    }
  }

  .textDetails {
    margin: 0;
    width: 100%;
    height: 10rem;
    @include flex(row);
    justify-content: space-between;
    gap: 1rem;

    .contType {
      width: 50%;
      height: 100%;
      margin: 0;
      @include flex(column);

      div {
        margin-left: 0;
        padding: .5rem;
        border-radius: 8px;
        height: 45%;
        width: 70%;
        gap: 1rem;
        @include flex(row);

        @media screen and (max-width:$big) {
          width: 90%;
        }

        @media screen and (max-width:$normalRes) {
          gap: .6rem
        }

        @media screen and (max-width:$mobile) {
          width: 100%;
          height: 40%;
          gap: .4rem;
          margin: .3rem;
        }

        @media screen and (max-width:$mobileSml) {
          width: 100%;
          height: 30%;
          gap: .4rem;
        }

        &:after {

          @media screen and (max-width:$normalRes) {
            font-size: 2vw !important;
          }

          @media screen and (max-width:$mobile) {
            font-size: 3vw !important;
          }

          @media screen and (max-width:$mobileSml) {
            font-size: 4vw !important;
          }
        }

        img {
          display: block;
          height: 90%;
          margin-left: 0;

          @media screen and (max-width:$normal) {
            height: 70%;

          }

          @media screen and (max-width:$mobile) {
            height: 80%;
          }
        }
      }

      .grass {
        background-color: $grass;

        &::after {
          content: "GRASS";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }

      .poison {
        background-color: $poison;

        &::after {
          content: "POISON";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }

      .electric {
        background-color: $eletric;

        &::after {
          content: "ELETRIC";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }

      .water {
        background-color: $water;

        &::after {
          content: "WATER";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }

      .fire {
        background-color: $fire;

        &::after {
          content: "FIRE";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }

      .bug {
        background-color: $bug;

        &::after {
          content: "BUG";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }

      .flying {
        background-color: $flying;

        &::after {
          content: "FLYING";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }

      .normal {
        background-color: $normal;

        &::after {
          content: "NORMAL";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }

      .ground {
        background-color: $ground;

        &::after {
          content: "GROUND";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }

      .fairy {
        background-color: $fairy;

        &::after {
          content: "FAIRY";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }

      .dark {
        background-color: $dark;

        &::after {
          content: "DARK";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }

      .ghost {
        background-color: $ghost;

        &::after {
          content: "GHOST";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }

      .fighting {
        background-color: $fighting;

        &::after {
          content: "FIGHTING";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }

      .psychic {
        background-color: $psychic;

        &::after {
          content: "PSYCHIC";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }

      .rock {
        background-color: $rock;

        &::after {
          content: "ROCK";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }

      .ice {
        background-color: $ice;

        &::after {
          content: "ICE";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }

      .steel {
        background-color: $steel;

        &::after {
          content: "STEEL";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }

      .dragon {
        background-color: $dragon;

        &::after {
          content: "DRAGON";
          font-size: 16px;
          font-weight: bold;
          color: $white;
        }
      }


    }

    #idDetails {

      height: 100%;
      padding: 3rem;
      text-align: center;
      @include flex(column);
      box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.68);
      border-radius: 10px;
      margin-right: 0;

      @media screen and (max-width:$big) {
        height: 50%;
        padding: 1rem;
      }


      p {
        font-size: 1.5vw;
        font-weight: bold;
        display: block;
        margin: 0;

        @media screen and (max-width:$big) {
          font-size: 2.5vw;
        }

        @media screen and (max-width:$mobile) {
          font-size: 20px;
        }
      }
    }

    img {
      margin: 0;
    }



  }

  .imgHover {
    width: 90%;
    display: block;

    transition: transform 1.4s ease-in-out;

    @media screen and (max-width:$mobile) {
      width: 90%;

    }

    &:hover {
      transform: scale(1.2)
    }
  }


}

.informations {
  height: 40%;
  width: 10%;
  background: $white;
  position: absolute;
  top: 13%;
  left: 35%;
  border-radius: 10px;
  z-index: 0;
  padding: 1rem;
  transition: all 1s ease-in-out;
  @include flex(column);

  @media screen and (max-width:$big) {
    left: 35%
  }

  @media screen and (max-width:$mobile) {
    z-index: 1;
    top: 79%;
    left: 0;
    flex-direction: row;
    width: 100%;
    height: 18%;
    height: auto;
    flex-wrap: wrap;
    row-gap: 2rem;
    height: auto;

  }

  div {
    @include flex(column);
    gap: .5rem;
    text-align: center;

    @media screen and (max-width:$mobile) {
      width: 30%;
    }

    h2 {
      font-size: 15px;

      @media screen and (max-width:$mobile) {
        font-size: 12px;
      }
    }

  }



  p {
    font-size: 12px;
    font-weight: bold;

    @media screen and (max-width:$mobile) {
      font-size: 10px
    }
  }
}

#moreInformations {
  position: absolute;
  text-align: center;
  @include flex(column);
  transition: all 1s ease-in-out;
  top: 13%;
  left: 32.9%;
  background: $white;
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  z-index: 0;
  cursor: pointer;

  @media screen and (max-width:$big) {
    left: 22%
  }

  @media screen and (max-width:$mobile) {
    display: none;
  }
}

/*
.arrows {
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 3vw;
  height: 3vh;
  @include flex(row);
  gap: 0.5rem;



  .arrowright {
    width: 100%;

    transition: transform .8s .2s ease-in-out;

    &:hover {
      transform: translateX(.5rem)
    }
  }

  .arrowLeft {
    width: 100%;
    transition: transform .8s .2s ease-in-out;

    &:hover {
      transform: translateX(-.5rem)
    }
  }

}*/

.arrowLeft {
  height: 100vh;
  width: 10%;
  position: fixed;
  top: 0;
  left: 0;
  @include flex(column);
  gap: 0;
  transition: all 1s ease-in-out;

  &:hover {
    background-color: $gold;

    @media screen and (max-width:$mobile) {
      background-color: transparent;
    }
  }

  &:hover div {
    background-color: $yellow;
    left: -2rem;

    @media screen and (max-width:$mobile) {
      left: -.3rem;
    }
  }

  @media screen and (max-width:$mobile) {
    z-index: 1;
    position: absolute;
  }


  .line1 {
    width: 10%;
    height: 10%;
    background-color: $gold;
    transform: rotate(20deg);
    position: relative;
    top: 1rem;
    border-radius: 10px;
    margin-bottom: 0;
    transition: all 1s ease-in-out;

    @media screen and (max-width:$normalRes) {
      top: 0.5rem;
    }

    @media screen and (max-width:$mobile) {
      height: 5%;
      top: 0.3rem;
    }

  }

  .line2 {
    margin-top: 0;
    width: 10%;
    height: 10%;
    background-color: $gold;
    transform: rotate(-20deg);
    position: relative;
    top: -1rem;
    border-radius: 10px;
    transition: all 1s ease-in-out;

    @media screen and (max-width:$normalRes) {
      top: -0.5rem;
    }

    @media screen and (max-width:$mobile) {
      top: -0.2rem;
      height: 5%;
    }
  }
}

.arrowright {
  height: 100vh;
  width: 10%;
  position: fixed;
  top: 0;
  right: 0;
  @include flex(column);
  gap: 0;
  transition: all 1s ease-in-out;


  &:hover {
    background-color: $gold;

    @media screen and (max-width:$mobile) {
      background-color: transparent;
    }

  }

  &:hover div {
    background-color: $yellow;
    right: -2rem;

    @media screen and (max-width:$mobile) {
      right: -.3rem;
    }


  }



  @media screen and (max-width:$mobile) {
    position: absolute;
    z-index: 1;
  }

  .line1 {
    width: 10%;
    height: 10%;
    background-color: $gold;
    transform: rotate(160deg);
    position: relative;
    top: 1rem;
    border-radius: 10px;
    margin-bottom: 0;
    transition: all 1s ease-in-out;



    @media screen and (max-width:$normalRes) {
      top: 0.5rem;
    }

    @media screen and (max-width:$mobile) {
      top: 0.2rem;
      height: 5%;
    }
  }

  .line2 {
    margin-top: 0;
    width: 10%;
    height: 10%;
    background-color: $gold;
    transform: rotate(-160deg);
    position: relative;
    top: -1rem;
    border-radius: 10px;
    transition: all 1s ease-in-out;

    @media screen and (max-width:$normalRes) {
      top: -0.5rem;
    }

    @media screen and (max-width:$mobile) {
      top: -0.2rem;
      height: 5%;
    }

  }


}

.transitionOut {
  animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.transitionIn {
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.transitionInRight {
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.transitionOutRight {
  animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}