$red: #FF0000;
$redSecundary: #CC0000;
$blue: #3d7dca;
$yellow: #FFDE00;
$white: #FFF;
$black:black;
$LightGray:LightGray;


//color types
$eletric:goldenrod;
$grass: #40a749;
$poison: rgb(255, 0, 234);
$water: #4073a7;
$fire: #df8600;
$bug: #8ddd94;
$flying:#275296;
$normal:gray;
$ground:#71522b;
$fairy: pink;
$dark:rgb(12, 12, 12);
$ghost:rgb(25, 7, 34);
$fighting:rgb(209, 65, 65);
$psychic:rgb(159, 77, 91);
$rock:#7a6910;
$ice: lightblue;
$steel:LightGray;
$dragon:#082ce1;